<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite">
    <listeners>
        <listener class-name="main.java.Utils.SuiteListener"/>
    </listeners>
    <test name="Test Automation">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="test.java.QualifiedSlot1userAutoLSPlus"></class>
<!--            <class name="test.java.QualifiedSlot2UsersCounsellingSlotBookingAndPaymentFlow"></class>-->
<!--            <class name="test.java.DisqualifiedUserSlot3UserType"></class>-->
        </classes>
    </test>
</suite>